*{
    margin:0;
    padding:0;
    
    box-sizing:content-box;
	
}
.navbar{
    display:flex;
    align-items:left;
    padding: 5px;
}
nav{
    flex:1;
    text-align:right;
}
nav ul{
display:inline-block;
list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
a{
    text-decoration:none;
    color:dark green;
    
}
p{
    color:darkblue;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.row{
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    justify-content:space-around;

}
.col-2{
    flex-basis:50%;
    min-width:300px;
}
.col-2 img{
    max-width:100%;
    padding:50px 0;
    margin-bottom: 200px;
    margin-left: 70px;
}
.col-2 h1{
    font-size: 50px;
    line-height:60px;
    margin:25px 0;

}
.btn{
    display:inline-block;
    background:darkkhaki;
    color:forestgreen;
    padding : 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s;
}
.btn:hover{
    background:thistle;

}
.yz{
    color:teal;
    margin-bottom: 100px;
    margin-left: -120px;
    margin-right: 120px;
}
.lg{
    margin-left:-100px  ;
    margin-top: 50px;


}
.header{
    background:radial-gradient(#f5f5f5,#90ee90);
}
.categories{
    margin: 50px 0;
}
.col-3{
    flex-basis: 30%;
    min-width:100px;
    margin-bottom:10px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background:#ff523b ;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translatex(-50%);

}
h4{
    color:#555;
    font-weight:normal;
}
.col-4p{
    font-size:14px;
}
.rating .fa{
    color:#ff523b;

}
.col-4:hover{
    transform: translateY(-5px);
}